<h1>About</h1>
<p>This is a Node/Express app for writting down your ideas or thoughts without sms, but registration.
     <br>Being part of the club is totally free

</p>
<p>Version 1.6.9</p>
<small>Contacts:<small><p>github.com/4ess</p></small></small>